{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <title>
      {% block head_title %}
        Título da Página
      {% endblock %}
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head_base %}
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    {% endblock %}
    {% block head_css %}
      <link rel="stylesheet" href="{% static 'css/chunk-vendors.css' %}">
      <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% endblock %}
  </head>
  <body>
    {% block body_base %}
      <div class="d-none">
        {% csrf_token %}
      </div>
      <div id="app"></div>
    {% endblock %}
    {% block body_end %}
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
      <script type="text/javascript" src="{% static 'js/chunk-vendors.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
      <script type="text/javascript">
        app.init(
          '#app',
          {
            permissoes: "{{ perm_list }}"
          }
        )
      </script>
    {% endblock %}
  </body>
</html>
